
div.edit-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.edit-card {
  width: 100%;
  max-width: 550px;
  background-color: #F8F8F8;
  padding: 20px;
  margin-top: 20px;
}

div.edit-title {
  padding-left: 3px;
  width: 100%;
  max-width: 1000px;
}


.edit-card input {
  width: 100%;
}


.edit-card textarea {
  width: 100%;
}

div.edit-buttons {
  width: 100%;
  margin-top: 20px;
}

.edit-card input.btn.btn-primary {
  width: 110px;
  padding: 6px 6px 6px 6px;
  color: white;
  border-radius: 4px;
}

div.edit-buttons a {
  color: white;
  border-radius: 4px;
}
